/* Base for label styling */
.checkbox-custom:not(:checked),
.checkbox-custom:checked {
    position: absolute;
    left: -9999px;
}

.checkbox-custom:not(:checked)+.label-custom-checkbox,
.checkbox-custom:checked+.label-custom-checkbox {
    position: relative;
    padding-left: 1.95em;
    cursor: pointer;
}

/* checkbox aspect */
.checkbox-custom:not(:checked)+.label-custom-checkbox::before,
.checkbox-custom:checked+.label-custom-checkbox::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1.25em;
    height: 1.25em;
    border: 2px solid #ccc;
    background: #fff;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
}

.checkbox-custom:not(:checked)+.label-custom-checkbox::after,
.checkbox-custom:checked+.label-custom-checkbox::after {
    content: '\2713\0020';
    position: absolute;
    top: .15em;
    left: .22em;
    font-size: 1.3em;
    line-height: 0.8;
    color: #202E78;
    transition: all .2s;
    font-family: 'Lucida Sans Unicode',
        'Arial Unicode MS',
        Arial;
}

/* checked mark aspect changes */
.checkbox-custom:not(:checked)+.label-custom-checkbox:after {
    opacity: 0;
    transform: scale(0);
}

.checkbox-custom:checked+.label-custom-checkbox:after {
    opacity: 1;
    transform: scale(1);
}

/* disabled checkbox */
.checkbox-custom:disabled:not(:checked)+.label-custom-checkbox:before,
.checkbox-custom:disabled:checked+.label-custom-checkbox:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}

.checkbox-custom:disabled:checked+.label-custom-checkbox:after {
    color: #999;
}

.checkbox-custom:disabled+.label-custom-checkbox {
    color: #aaa;
}

/* accessibility */
.checkbox-custom:checked:focus+.label-custom-checkbox:before,
.checkbox-custom:not(:checked):focus+.label-custom-checkbox:before {
    border: 2px dotted blue;
}

/* hover style just for information */
.label-custom-checkbox:hover:before {
    border: 2px solid #4778d9 !important;
}

.custom-title {
    letter-spacing: 5px;
}

.custom-title-panel {
    letter-spacing: 4px;
    font-size: large;
}

.user-information,
.user-detail {
    margin-top: 30px;
}

.custom-label,
.label-custom-checkbox {
    text-transform: uppercase;
    font-style: italic;
}

.custom-label {
    letter-spacing: 3px;
    font-size: medium;
}

.custom-label-btn {
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 2.5px;
}

.label-custom-checkbox {
    letter-spacing: 1.5px;
    font-size: small;
}

.custom-form {
    border-radius: 10px;
}

/* Avatar Upload */
.avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 50px auto;
}

.avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
}

.avatar-upload .avatar-edit input {
    display: none;
}

.avatar-upload .avatar-edit input+label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-edit input+label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}

.avatar-upload .avatar-edit input+label:after {
    content: "\f040";
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: 3px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}

.avatar-upload .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-upload .avatar-preview>div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* End Avatar Upload */
